.text-gradient {
  margin-top: 120px;

  &__container:first-child {
    h4 {
      font-size: 48px;
      margin-bottom: 16px;

      //Gradient
      background: -webkit-linear-gradient(-45deg, #ed3550, #4659ff, #ed35a3);
      background-size: 200% auto;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: hue 15s linear infinite;
    }

    &:not(:last-child) {
      margin-bottom: 64px;
    }
  }

  &__container:last-child {
    h4 {
      font-size: 48px;
      margin-bottom: 16px;

      //Gradient
      background: -webkit-linear-gradient(
        -45deg,
        hsl(351, 84%, 57%),
        hsl(247, 67%, 49%),
        hsl(324, 84%, 57%)
      );
      background-size: 200% auto;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: gradient 15s ease infinite;
    }

    &:not(:last-child) {
      margin-bottom: 64px;
    }
  }
}

@keyframes hue {
  0% {
    -webkit-filter: hue-rotate(280deg);
  }
  50% {
    -webkit-filter: hue-rotate(351deg);
  }

  100% {
    -webkit-filter: hue-rotate(280deg);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% center;
  }

  25% {
    background-position: 50% center;
  }

  50% {
    background-position: 100% center;
  }
  75% {
    background-position: 50% center;
  }

  100% {
    background-position: 0% center;
  }
}
